<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cdt_username</key>
	<string></string>
	<key>cdt_db_name</key>
	<string></string>
	<key>cdt_tests_db_name</key>
	<string></string>
	<key>cdt_key</key>
	<string></string>
	<key>cdt_pass</key>
	<string></string>
	<key>backend_route</key>
	<string></string>
	<key>GUID</key>
	<string></string>
	<key>obj_stg_public_url</key>
	<string></string>
	<key>obj_stg_password</key>
	<string></string>
	<key>obj_stg_user_id</key>
	<string></string>
	<key>obj_stg_project_id</key>
	<string></string>
	<key>obj_stg_auth_url</key>
	<string>***REMOVED***</string>
</dict>
</plist>
